* {
    box-sizing: border-box;
}

body {
    background-color: #f4f9f4;
    margin: 0;
    font-family: Poiret One;
    color: #616161;
}

/* //HEADER // */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-survivor-logo {
    width: 300px;
}

.header-search-icon,
.header-login-icon,
.header-logout-icon,
.header-drop-icon {
    width: 35px;
    margin: 25px;
}

/* //WELCOME // */

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 30px;
}

.welcome-text {
    font-size: 30px;
    padding: 20px;
    color: #616161;
}

.typewriter h1 {
    color: #616161;
    overflow: hidden;
    border-right: 0.15em solid #616161;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #616161;
    }
}

/* // APP // */

/* // LOGIN AND REGISTRATION // */

.register-area,
.login-area {
    margin: 80px;
}

.register-container,
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    color: #616161;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.input {
    height: 40px;
    width: 248px;
    border: 1px solid #616161;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}
input:hover {
    border: 2px solid #616161;
}

.input-margin {
    margin-bottom: 30px;
}

.btn {
    font-size: 15px;
    font-family: Poiret One;
    color: #616161;
    height: 40px;
    width: 135px;
    border: 1px solid #616161;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #ff8a80;
    padding: 0;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid #616161;
}

.btn-add-plant {
    font-size: 15px;
    font-family: Poiret One;
    color: #f4f9f4;
    height: 250px;
    width: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #ff8a80;
    padding: 0;
    cursor: pointer;
    margin-left: 20px;
    text-align: center;
    border: none;
}

.btn-add-plant:hover {
    box-shadow: 0 8px 16px #616161;
}

.btn-watering {
    font-size: 15px;
    font-family: Poiret One;
    color: #616161;
    height: 40px;
    width: 135px;
    border: 1px solid #616161;
    border-radius: 8px;
    background: #ff8a80;
    padding: 0;
    cursor: pointer;
}
.btn-watering:hover {
    border: 2px solid #616161;
}

::placeholder {
    font-family: Poiret One;
    font-size: 15px;
    color: #616161;
    text-align: center;
}

.has-waterings {
    background-color: #3fc1c9;
    border-radius: 30px;
    padding: 4px;
}

.has-waterings:hover {
    box-shadow: 0 8px 16px #3fc1c9;
}

/* //GARDEN LIST// */

.garden-overview,
.watering-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
.create-garden-area,
.existing-garden-area,
.watering-area {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: #c4e3cb;
    margin: 40px;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.create-garden-area:hover,
.existing-garden-area:hover,
.watering-area:hover {
    box-shadow: 0 8px 16px #616161;
}

.create-garden-area {
    background: #8aae92;
}

.watering-area {
    height: 300px;
}

.number-waterings {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    margin: 10px;
}

.add-icon,
.garden-icon,
.add-garden-icon {
    width: 80px;
    margin: 30px;
}

.garden-add-text {
    text-align: center;
    font-size: 20px;
    color: #f4f9f4;
}

a {
    text-decoration: none;
    color: #616161;
    text-align: center;
    font-size: 15px;
}

/* //CREATE GARDEN// */

.garden-container {
    display: flex;
    flex-direction: column;
    margin: 60px;
    justify-content: center;
    align-items: center;
}

.garden-title {
    font-size: 30px;
    text-align: center;
}

/* //SHOW GARDEN// */

.show-garden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-garden-area {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: #8aae92;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.show-garden-container,
.watering-overview {
    display: flex;
    margin: 40px;
    justify-content: center;
    align-items: center;
}

.show-garden-icon {
    width: 80px;
    margin: 30px;
}

.show-garden-name,
.plant-name {
    text-align: center;
    color: #616161;
    font-size: 30px;
}
.garden-name {
    text-align: center;
    color: #616161;
    font-size: 15px;
}

.form-text {
    font-size: 30px;
    margin-bottom: 30px;
}

/* //SHOW PLANTS// */

.show-plants-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.show-plants-area {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: #c4e3cb;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.show-plants-area:hover {
    box-shadow: 0 8px 16px #616161;
}

.show-plant-picture,
.watering-picture {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    margin: 20px;
}

/* //ADD PLANT// */

.upload-plant-picture {
    height: 0.1px;
    width: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-plant-picture + label {
    height: 40px;
    width: 40%;
    font-size: 12px;
    color: #616161;
    border: 1px solid #616161;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    padding: 11px 95px;
    white-space: nowrap;
}

.upload-plant-picture + label {
    margin-bottom: 30px;
}

.upload-plant-picture + label:hover {
    border: 2px solid #616161;
}

.textarea {
    height: 40px;
    width: 248px;
    border: 1px solid #616161;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

.textarea:hover {
    border: 2px solid #616161;
}

.textarea-margin {
    margin-bottom: 30px;
}

.select {
    font-size: 12px;
    color: #616161;
    width: 120px;
    border: 1px solid #616161;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}
.select:hover {
    border: 2px solid #616161;
}

.select-margin {
    margin-bottom: 30px;
}

/* //SEARCH// */

.search {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.search-input {
    height: 40px;
    width: 248px;
    background: transparent;
    border: 1px solid #616161;
    font-size: 18px;
}

.welcome-search {
    margin-top: 60px;
}

.search-image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
    margin: 20px;
}

.modal-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-area {
    background: #8aae92;
    width: 200px;
    height: 500px;
    overflow: scroll;
}

/* //FOOTER// */

main {
    min-height: calc(100vh - 200px);
}

.copyright {
    display: flex;
    background-color: #616161;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #f4f9f4;
}
