* {
    box-sizing: border-box;
}

body {
    background-color: #f4f9f4;
    margin: 0;
    font-family: Poiret One;
    color: #616161;
}

/* //HEADER // */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header-survivor-logo {
    width: 300px;
}

.header-icons-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header-search-icon,
.header-login-icon,
.header-logout-icon {
    width: 35px;
    margin: 25px;
}

/* //WELCOME // */

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 30px;
}

.welcome-text {
    font-size: 30px;
    padding: 20px;
    color: #616161;
}

/* // APP // */

/* // LOGIN AND REGISTRATION // */

.registration-login-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.register-area,
.login-area {
    flex: 1;
    padding: 40px;
    width: 360px;
    height: 580px;
    background: #c4e3cb;
    margin: 40px;
    /* opacity: 0.5; */
}
.login-area {
    height: 340px;
}

.register-container,
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 40px;
    color: #616161;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.input {
    height: 40px;
    width: 248px;
    border: 1px solid #616161;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

.btn {
    font-size: 15px;
    font-family: Poiret One;
    color: #616161;
    height: 40px;
    width: 135px;
    border: 1px solid #616161;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #f67280;
    padding: 0;
    cursor: pointer;
}

::placeholder {
    font-family: Poiret One;
    font-size: 15px;
    color: #616161;
    text-align: center;
}

.has-waterings {
    background-color: red;
}

/* //GARDEN LIST// */

.garden-overview {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.create-garden-area,
.existing-garden-area {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: #c4e3cb;
    margin: 40px;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.add-icon,
.garden-icon {
    width: 80px;
    margin: 30px;
}

.garden-add-text {
    text-align: center;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #616161;
    text-align: center;
    font-size: 20px;
}

/* //CREATE GARDEN// */

.garden-container,
.show-garden-container {
    display: flex;
    flex-direction: column;
    margin: 60px;
    justify-content: center;
    align-items: center;
}

.garden-title {
    font-size: 30px;
    text-align: center;
}

/* //SHOW GARDEN// */

.show-garden-area {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: #c4e3cb;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.show-garden-icon {
    width: 60px;
    margin: 20px;
}

.show-garden-name {
    text-align: center;
    font-size: 15px;
}

/* //SHOW PLANTS// */

.show-plants-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-plants-area {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: #c4e3cb;
    width: 90%;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* //ADD PLANT// */

.upload-plant-picture {
    height: 0.1px;
    width: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-plant-picture + label {
    height: 40px;
    width: 40%;
    font-size: 12px;
    color: #616161;
    border: 1px solid #616161;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    padding: 11px 15px;
    white-space: nowrap;
}
.textarea {
    height: 40px;
    width: 248px;
    border: 1px solid #616161;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

.select {
    font-size: 12px;
    color: #616161;
    width: 50px;
    border: 1px solid #616161;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

/* //SEARCH// */

.search {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.search-input {
    height: 40px;
    width: 248px;
    background: transparent;
    border: 1px solid #616161;
    font-size: 18px;
}

/* .search-results {
    position: absolute;
    width: 100%;
    top: 35px;
    border: 1px solid #616161;
    background: transparent;
    margin-top: 5px;
    padding: 4px;
    overflow: scroll;
}

.results-list-item {
    height: 40px;
    padding: 2px;
}

.search-result-name {
    font-size: 16px;
    align-self: center;
}

.results-list-item a {
    text-decoration: none;
    display: flex;
}
.search-no-results {
    color: grey;
} */

/* //FOOTER// */

main {
    min-height: calc(100vh - 135px);
}

.copyright {
    display: flex;
    background-color: #616161;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #f4f9f4;
}
