* {
    box-sizing: border-box;
}

body {
    background-color: #f4f9f4;
    margin: 0;
}

/* //WELCOME // */

.welcome-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-header-survivor-logo {
    width: 20%;
}

.welcome-icons-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.welcome-header-search-icon,
.welcome-header-login-icon,
.welcome-header-logout-icon {
    width: 20%;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* // APP // */

/* //FOOTER CONTAINER// */

main {
    min-height: calc(100vh - 135px);
}

.copyright {
    display: flex;
    background-color: #616161;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #f4f9f4;
}
